body{
  background-color: #85ffbd;
      background-image: linear-gradient(
        199deg,
        #85ffbd 0%,
        #fffb7d 50%,
        #6ff274 100%
      
      );
      min-height: 100vh;
}
.cards { 
  flex-direction: row;
  min-width: 20rem;
}
.img-thumbnail {
  aspect-ratio: 9 / 12;
  max-width: 7rem;
  object-fit: cover;
}
.container {
  justify-content: space-evenly;

}
.star-rating {
  color: gold; /* Set the color to gold */
  font-size: 24px; /* Set the font size to make the stars larger */
}
@media screen and (max-width: 768px) {
  
  
  
}