{% extends "base.html" %}

{% block start %}
<div class="container">
  <h1>Cart</h1>
  <div class='container d-flex mt-5 col-6 mx-auto'>
    {% for order in orders %}
    <div class="card" style="width: 18rem;">
      <img src="{{ order.order_info.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ order.order_info.customer }}</h5>
        <p class="card-text">{{ order.date_created }}</p>
        <div class="d-flex">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">{{ order.total }}</li>
          </ul>
        </div>
        <a href="/order_details/{{order.id}}" class="btn btn-primary">View Details</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
