{% extends "base.html" %} {%block start%}
cart
<div class='container d-flex mt-5 col-6 mx-auto'>
    {% for f in item %}
    <div class="card" style="width: 18rem;">
      <img src="{{f.food.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{f.food.name}}</h5>
        <p class="card-text">{{f.food.cost}}</p>
        <div class="d-flex">
          {% csrf_token %}
          
          <ul class="list-group list-group-horizontal">
            <li id="counterValue" class="list-group-item item{{forloop.counter}}">
              {{f.quantity}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

  {% endblock %}
